<!-- app/views/questions/random.html.erb -->
<div class="question-container">
  <div class="question-card">
    <div class="p-6 bg-gray-50 text-center">
      <%= image_tag @question.question_image.url, width: 500, height: 500, class: "question-image mx-auto mb-4" if @question.question_image.present? %>
      <!-- 問題文とボタンを横並びに配置 -->
      <div class="flex items-center justify-center mb-2">
        <h1 class="question-content text-xl font-semibold"><%= @question.content %></h1>
        <!-- SVGアイコンを使ったボタン -->
        <button onclick="speakAllText()" class="ml-4 p-2 rounded-full bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
          <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
          </svg>
        </button>
      </div>
      <div class="choice-buttons flex justify-center space-x-4">
        <% @question.choices.each do |choice| %>
          <% if logged_in? %>
            <%= link_to check_result_path(choice), class: "choice-button bg-gray-200 text-black px-4 py-2 rounded-md", data: { turbo: false } do %>
              <%= choice.content %>
            <% end %>
          <% else %>
            <%= link_to guest_check_result_path(choice), class: "choice-button bg-gray-200 text-black px-4 py-2 rounded-md", data: { turbo: false } do %>
              <%= choice.content %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
