<header style="position: fixed; top: 0; width: 100%; z-index: 10; background-color: white;">
  <div class="container mx-auto flex items-center justify-between py-4">
    <div class="text-center">
      <%= link_to root_path, class: 'block text-4xl font-bold text-gray-800 hover:text-gray-600' do %>
        WORKING VEHICLE
      <% end %>
      <%= link_to root_path, class: 'block text-lg text-gray-800 hover:text-gray-600' do %>
        はたらくくるま
      <% end %>
    </div>
    <div class="flex items-center space-x-4">
      <div class="relative">
        <button id="menuButton" class="text-black-700 border border-black px-4 py-2 rounded">
          Menu
        </button>
        <div id="menuDropdown" class="hidden absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded shadow-lg">
          <%= link_to 'マイページ', mypage_display_path, class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
          <%= link_to 'プレイヤー切替', '#', class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
          <%= link_to '設定', '#', class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
          <% if current_user.admin? %>
            <%= link_to '質問作成', new_question_path, class: "block px-4 py-2 text-blue-700 hover:bg-gray-100" %>
            <%= link_to '質問一覧', questions_path, class: "block px-4 py-2 text-blue-700 hover:bg-gray-100" %>
          <% end %>
          <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-gray-700 hover:bg-gray-100" %>
        </div>
      </div>
      <h1 class="text-4xl"><%= link_to '🏅', '#' %></h1>
    </div>
  </div>
</header>
