<!DOCTYPE html>
<html>
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7NWXH5B6S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z7NWXH5B6S');
    </script>
    <title>Working Vehicle English: Family Playtime</title>

    <!-- OGP設定をここに追加 -->
    <meta property="og:title" content="Working Vehicle English: Family Playtime">
    <meta property="og:description" content="「働く車」と英語を組み合わせた教育アプリで、子供が楽しく英語を学べるサービス。 親子でクイズに挑戦しよう！">
    <meta property="og:image" content="https://carrierwaves3bucket.s3.amazonaws.com/uploads/OGP_working_vehicle_english.webp">
    <meta property="og:url" content="https://workingvehicle-english-16b9027d82df.herokuapp.com/">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website" />
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>

  <body class="min-h-screen flex flex-col"> 
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
